<form class="container" #loginForm="ngForm" (ngSubmit)="login()">
    <div class="form-group col-6">
        <label for="exampleInputEmail1">Email address</label>
        <input [(ngModel)]="user.email" type="email" name="email" class="form-control" id="email"
            aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group col-6">
        <label for="exampleInputPassword1">Password</label>
        <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>